.navbar{
    margin-bottom: 0;
}
.body-content{
    margin-top: 20px;
}

.standardwidth{
    min-width: 261px;
    min-height: 180px;
    background: lightgray;
    border-right: 4px dotted;
}
.standardwidth:last-child{
    border-right: 0px solid;
}

.headerimage {
    background-image: url(../images/header.jpg);
    -webkit-background-image: url(../images/header.jpg);
    -moz-background-image: url(../images/header.jpg);
    -o-background-image: url(../images/header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 680px;
}
.modal-footer{
    position: relative;
    bottom: 0;
}

.vertically-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-title {
    font-size: 40px;
    color: lightgray;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-shadow: 3px 2px 1px black;
}
.header-title-white{
    color: lightgray;
    text-shadow: 2px 2px 1px black;
}

.header-description{
    color: lightgray;
}
.header-part {
    height: 1000px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e7e7e7;
    color: #000;
    text-align: center;
    margin-top: 480px;
}
.post-design{
    border-left: 6px double red;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-right: 4px double black;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 2px lightcoral;
}

.space{
    margin-top: 25px;
}