
  {{#if showTitle}}
  <div class="jumbotron"> 
    <h1 class="text-center" >{{welcomeMessage}}</h1>
  </div>
    </div>
  {{/if}}

<section class="description-part" id="description-id">
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <img src="{{img}}" alt="" width="180" height="180" class="img img-responsive img-thumbnail pull-left" />

            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    LOREM IPSUM DOLOR
                </h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Lorem ipsum dolor sit amet, ius ea decore inermis gubergren, qui nominati argumentum ea. Ea ludus ridens equidem vis. At vel tamquam omittam democritum, nam suavitate eloquentiam ad. Persius consetetur ad sea, ex atqui oportere pertinacia sed, veri deseruisse assueverit ius eu. Vim quando conceptam at.
                </p>
                <div class="mbr-section-btn">
                    <a class="btn btn-md btn-secondary display-4" href="#">LEARN MORE</a>
                    <a class="btn btn-md btn-white-outline display-4" href="#">LIVE DEMO</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>