<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <fieldset>
                <legend>New post</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="postTitle">Post Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="postTitle" placeholder="Post Title" name="title" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="postImage">Image</label>
                    <div class="col-sm-4 ">
                        <input type="file" class="form-control"
                            id="postImage" name="img" required
                            accept="image/png, image/jpeg, image/jpg, image/gif" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="postContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="postContent" rows="5" name="content" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>