<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <img src="/images/uploads/{{dataValues.img}}" alt="post image" class="img img-responsive img-thumbnail center-block" >
                <div class="header" >
                    <h2>{{dataValues.title}}</h2>
                </div>

                <p class="content">
                    {{dataValues.content}}
                </p>

                <div class="author">
                    {{this.dataValues.author}}
                </div>

                <div class="footer2">
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/posts">&raquo; Back</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>